.form-group
	= form_for @quiz.questions.build do |f|
		= f.label :title, "Question"
		= f.text_field :title
		= f.hidden_field :_destroy
		= link_to "Remove", "#", class: "remove-form-group"

		= f.fields_for :answers do |builder|
			= render 'answers/answer_fields', f: builder