.form-group
	= ff.label :title, "Question"
	= ff.text_field :title
	= ff.hidden_field :_destroy
	= ff.remove_nested_fields_link

	= ff.fields_for :answers do |fff|
		= render 'answers/answer_fields', fff: fff
		
= ff.add_nested_fields_link :answers